extends layout.pug 

block content 
  p Open-Source @ Illinois (O-SAI) is a group for Illinois students of all majors and backgrounds who want to learn more about Open-Source philosophy through participation. We provide inclusive workshops and collaborate on fun, creative projects.
