extends layout.pug

block content
  div(class='row justify-content-center')
    img(src='/images/screedbot.gif')
  div(class='row')
    p
      | Hello, welcome to the open-source@illinois website! We are currently under construction but plan to be implemented by the beginning of the Fall 2019 semester. 
      br
      | If you're interested in learning more in the meantime, please email our publication manager Thomas at <u><b>thomasdriscoll98@gmail.com</b></u> or check our Facebook page!
