extends layout.pug 
block scripts 
  script(src='/javascripts/join.js')
block content 
  div(class='row justify-content-center')
    h1 Sign Up
  div(class='row justify-content-center')
    div(class='col-lg')
      h3 Required Info
    div(class='col-lg')
      h3 Optional 
  div(class='row')
    div(class='col-lg')
      h6 Name
    div(class='col-lg')
      h6 Skill Set -- Select Top 3
  div(class='row')
    div(class='col-lg')
      input(id='name-input' placeholder='Name')
    div(class='col-lg')
      select(class='program_select')
      button(class='add_skill_set') + Add Programming Language
  div(class='row')
    div(class='col-lg')
      h6 Password
    div(class='col-lg')
      select(class='program_select')
      button(class='add_skill_set') + Add Programming Language
  div(class='row')
    div(class='col-lg')
      input(id='password-input' placeholder='Password')
    div(class='col-lg')
      select(class='program_select')
      button(class='add_skill_set') + Add Programming Language
  div(class='row')
    div(class='col-lg')
      h6 Confirm Password
  div(class='row')
    div(class='col-lg')
      input(id='confirm-password-input' placeholder='Confirm Password')
  div(class='row')
    div(class='col-lg')
      h6 Email (please use your Illinois account)
  div(class='row')
    div(class='col-lg')
      input(id='email-input' placeholder='Email')
  div(class='row')
    div(class='col-lg')
      h6 Github Username (if you don't have one, <a href=''>Git</a>+ one!)
  div(class='row')
    div(class='col-lg')
      input(id='github-input' placeholder='GitHub username')
