extends layout.pug 

block content 
  h1 Officers
  p
    |Mr. President Man - Evan <br />
    |Mr. Vice President Dude - Brian <br />
    |Mr. Publication Guy - Thomas <br />
    |Ms. Communications Lady - Valerie<br />
