extends layout.pug 

block content 
  h1 Officers
  p
    |Mr. President Man - Evan : e-leclercq<br />
    |Mr. Vice President Dude - Brian : wertydoo<br />
    |Mr. Web Director Guy - Thomas : thomasdriscoll <br />
    |Ms. Communications Lady - Valerie<br />
