*{
  box-sizing: border-box;
}

body{
  color: limegreen;
  background-color: black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  /* font-size: 24px; */
}

.navbar{
  border-bottom: 2px solid limegreen;
}
.navbar-light{
  background-color: black;
}
.nav_item{
  color:limegreen !important;
  font-size: 16px !important; 
}
.page_header{
  font-size: 36px;
}
